* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-direction: row;
}

/* colors */
.orange {
  background-color: rgb(255, 186, 57);
  width: 50%;
  height: 100px;
}
.yellow {
  background-color: yellow;
  width: calc(100% - 40px);
  height: 400px;
} /*si es 100% entonces por alguna razon, solo se pone el margen a la izqerda y queda mal*/
.blue {
  background-color: blue;
  width: 33%;
  height: 100px;
  height: 300px;
}
.grey {
  background-color: grey;
  width: 25%;
  height: 150px;
}

@media ( width < 768px) {
     .section-1, .section-3 {

flex-direction: column;

    }
    .orange, .blue {
        width: 100% ;
    }

    .grey {
       width: calc(100% ); /* 50% menos la mitad del gap para que quepan 2 por fila */
      
      
    }
   /* Grid 2x2 para las cajas grises usando flexbox */
    .section-4 {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }

.hide {
    display: none;
}

}

@media ( width >= 768px) {
    .section-1, .section-3 {

flex-direction: column;

    }
    .orange, .blue {
        width: 100% ;
    }

    .grey {
       width: calc(50% - 5px); /* 50% menos la mitad del gap para que quepan 2 por fila */
      
      
    }
   /* Grid 2x2 para las cajas grises usando flexbox */
    .section-4 {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
    }


}

@media (width >= 1024px) {
    .section-1, .section-3, .section-4 {

flex-direction: row;
 flex-wrap: nowrap;
    }


    
}
