* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 32px;
  user-select: none;
}
body {
  overflow: hidden;
  height: 100vh;
}

.theme-3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* .calculadora {
} */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.result-screen {
  border-radius: 10px;
  padding: 10px 20px; /* controlado */
  text-align: end;
  margin-bottom: 20px;
  height: 50px; /* altura fija */
  display: flex;
  align-items: center; /* centra verticalmente */
  justify-content: flex-end; /* centra horizontalmente a la derecha */
}

.button-grid {
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
}

.button-grid div {
  color: hsl(221, 14%, 31%);
  width: 80px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reset-btn {
  grid-column: 1 / 2 span;
  width: 180px !important;
  height: 50px;
}

.equals-btn {
  grid-column: 3 / 2 span;
  width: 180px !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.switch {
  width: 50px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  padding: 0px 5px 0px 5px;
  align-items: center;
  cursor: pointer;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.theme-selector {
  display: flex;
  justify-content: space-around;
}
.theme-selector div {
  font-size: 15px;
}

.theme-title {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/*THEME 1*/
body.theme-1 {
  background-color: hsl(222, 26%, 31%);
  color: white;
}

body.theme-1 .result-screen {
  background-color: hsl(224, 36%, 15%);
}

body.theme-1 .button-grid {
  background-color: hsl(223, 31%, 20%);
}

body.theme-1 .button-grid div {
  background-color: hsl(0, 0%, 90%);
  border-bottom: 4px solid hsl(28, 16%, 65%);
}
body.theme-1 .button-grid div:hover {
  background-color: white;
}

body.theme-1 .reset-btn {
  background-color: hsl(225, 21%, 49%) !important;
  border-color: hsl(224, 28%, 35%) !important;
  color: white !important;
}

body.theme-1 .reset-btn:hover,
.delete-btn:hover {
  background-color: hsl(223.81deg 51.22% 75.88%) !important;
}

body.theme-1 .equals-btn {
  background-color: hsl(6, 63%, 50%) !important;
  border-color: hsl(6, 70%, 34%) !important;
  color: white !important;
}

body.theme-1 .equals-btn:hover {
  background-color: hsl(6.46deg 92.94% 66.67%) !important;
}

body.theme-1 .delete-btn {
  background-color: hsl(225, 21%, 49%) !important;
  border-color: hsl(224, 28%, 35%) !important;
  color: white !important;
}

body.theme-1 .switch {
  background-color: hsl(224, 36%, 15%);
}

body.theme-1 .circle {
  background-color: hsl(6, 63%, 50%);
  transform: translateX(0); /* posición inicial */
}
body.theme-1 .switch:hover .circle {
  background-color: hsl(6.46deg 92.94% 66.67%) !important;
}

/*THEME 2*/

body.theme-2 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}

body.theme-2 .result-screen {
  background-color: hsl(0, 0%, 93%);
}

body.theme-2 .button-grid {
  background-color: hsl(0, 5%, 81%);
}

body.theme-2 .button-grid div {
  background-color: hsl(0, 0%, 90%);
  border-bottom: 4px solid hsl(28, 16%, 65%);
}
body.theme-2 .button-grid div:hover {
  background-color: white;
}

body.theme-2 .reset-btn,
body.theme-2 .delete-btn {
  background-color: hsl(185, 42%, 37%) !important;
  border-color: hsl(185, 58%, 25%) !important;
  color: white !important;
}

body.theme-2 .reset-btn:hover,
body.theme-2 .delete-btn:hover {
  background-color: hsl(223.81deg 51.22% 75.88%) !important;
}

body.theme-2 .equals-btn {
  background-color: hsl(25, 98%, 40%) !important;
  border-color: hsl(25, 99%, 27%) !important;
  color: white !important;
}

body.theme-2 .equals-btn:hover {
  background-color: hsl(6.46deg 92.94% 66.67%) !important;
}

body.theme-2 .switch {
  background-color: hsl(0, 5%, 81%);
}

body.theme-2 .circle {
  background-color: hsl(25, 98%, 40%);
  transform: translateX(20px); /* posición inicial */
}
body.theme-2 .switch:hover .circle {
  background-color: hsl(25, 99%, 27%) !important;
}

/*THEME 3*/

body.theme-3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}

body.theme-3 .result-screen {
  background-color: hsl(268, 71%, 12%);
}

body.theme-3 .button-grid {
  background-color: hsl(268, 71%, 12%);
}

body.theme-3 .button-grid div {
  background-color: hsl(281, 89%, 26%);
  border-bottom: 4px solid hsl(285, 91%, 52%);
  color: hsl(52, 100%, 62%);
}
body.theme-3 .button-grid div:hover {
  background-color: white;
}

body.theme-3 .reset-btn,
body.theme-3 .delete-btn {
  background-color: hsl(268, 47%, 21%) !important;
  border-color: hsl(290, 70%, 36%) !important;
  color: white !important;
}

body.theme-3 .reset-btn:hover,
body.theme-3 .delete-btn:hover {
  background-color: hsl(223.81deg 51.22% 75.88%) !important;
}

body.theme-3 .equals-btn {
  background-color: hsl(176, 100%, 44%) !important;
  border-color: hsl(177, 92%, 70%) !important;
  color: white !important;
}

body.theme-3 .equals-btn:hover {
  background-color: hsl(6.46deg 92.94% 66.67%) !important;
}

body.theme-3 .switch {
  background-color: hsl(268, 71%, 12%);
}

body.theme-3 .circle {
  background-color: hsl(176, 100%, 44%);
  transform: translateX(40px); /* posición inicial */
}
body.theme-3 .switch:hover .circle {
  background-color: hsl(177, 92%, 70%) !important;
}
