* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
}

.circle {
  position: absolute;
  border-radius: 50%;
  margin: 10px;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.gray {
  background-color: silver;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.vertical-line {
  height: 285px;
  width: 2px;
  background-color: black;
  z-index: 10;
  position: absolute;
}

.horizontal-line {
  width: 285px;
  height: 2px;
  background-color: black;
  z-index: 10;
  position: absolute;
}

